#airport {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  transition: 0.6s ease-in-out;

  .opened {
    transform: translateX(0);
  }

  .closed {
    transform: translateX(-100vw);
  }
}

.airport-scroll-wrapper {
  width: 303px;
  overflow: hidden;
  max-height: calc(100vh - 296px);

  &:hover {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      height: 3px;
      width: 4px;
      background: #404040;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: yellow;
    }
  }
}