.airport-header {
  width: 303px;
  background: #333;
  color: white;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
}

.airport-header {
  padding: 5px 10px;
  position: relative;

  &__name {
    margin: 0;
    font-size: 14px;
    color: #f8C023;
  }

  &__description {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  &__flag {
    width: 24px;
    margin-right: 10px;
  }

  &__time {
    margin: 0;
    color: #d1d0d0;
  }

  span {
    margin-right: 5px;
  }
}

.panel-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;

  &:hover {
    cursor: pointer;
  }

  polygon {
    fill: white;
  }
}

.separator {
  color: #6d6d6d;
}