.flight-speed {
  width: 303px;
  font-size: 10px;
  color: #6d6d6d;
  display: flex;
  border-bottom: 10px solid #327db6;
  

  &__icon {
    background: #ddd;
    padding: 5px;
    padding-top: 10px;
  }

  & svg {
    width: 23px;
    fill: #393939;
  }

  & p {
    margin: 0;
  }

  & .flex-wrapper {
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(239, 239, 244);
    border-left: 2px solid #fff;
    display: flex;
    flex-direction: column;
  }

  &__bold {
    font-size: 13px;
    color: #393939;
    font-weight: 600;
    position: relative;

    &::before {
      content: attr(data-tooltip-value);
      width: 150px;
      position: absolute;
      top: -35px;
      left: -30px;
      text-align: center;
      padding: 5px;
      display: none;
      color: white;
      background: #327db6;
      border-radius: 4px;
      z-index: 99;
      overflow-x: visible;
    }

    &::after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid #327db6 10px;
      bottom: -4px;
      content: "";
      display: none;
      height: 0;
      left: 13%;
      margin-left: -6px;
      position: absolute;
      top: -7px;
      width: 0;
    }

    &:hover {
      cursor: pointer;
      &::before,
      &::after {
        display: inline-block;
        transition: 0.6s ease-in-out 0.4s;
      }
    }
  }
}