.airport-runway {
  width: 303px;
  color: white;
  font-size: 13px;
  box-sizing: border-box;

  & p {
    margin: 0;
    padding: 5px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: rgb(50, 125, 182);
    &:hover {
      cursor: pointer;
    }

    & svg {
      width: 12px;
      position: absolute;
      right: 10px;
      fill:white;
    }
  }

  & img {
    width: 303px;
  }

  & table {
    color:#393939;
    border-collapse: collapse;
    width: 100%;
    text-align: left;

    & tr {
      border-bottom: 1px solid #d1d0d0;
    }

    & th {
      padding: 2px 6px;
    }
    & td {
      padding: 6px;
      font-weight: 600;
    }
  }
  
  & thead {
    font-size: 10px;
    text-transform: uppercase;
    background-color: #d1d0d0;
  }

  & .reverse+svg {
    transform: rotate(180deg);
  }

  & .collapse {
    display: none;
  }
}

#icon-runway {
  position: relative;
  width: 23px;
  margin-left: 40px;
  margin-right: 15px;
}