.flight-info {
  display: flex;
  background: #efeff4;
  font-size: 10px;
  position: relative;

  > div {
    padding-top: 5px;
    border-bottom: 1px solid #fff;
    text-align: center;

    &:first-child {
      width: 150px;
      border-right: 3px solid #fff;
    }
  }
  h2 {
    font-size: 33px;
    color: #333333;
    margin: 0;
    line-height: 1;
  }

  h3 {
    font-size: 12px;
    color: #393939;
    margin: 0;
  }

  span {
    font-weight: 600;
    color: #a4a1a1;
    display: flex;
    justify-content: center;
    line-height: 1;
    padding-bottom: 5px;
  }

  .flight-info__timetable {
    padding: 6px 10px 6px 6px;
    border-top: 1px solid #fff;
    background: #dcdcdc;
    display: flex;
    justify-content: space-between;

    span {
      line-height: 1;
      display: flex;
      align-self: center;
      color: #6d6d6d;
      padding-bottom: 0;

      &:nth-child(2) {
        font-size: 14px;
        color: #393939;
      }
    }
  }

  svg {
    position:absolute;
    width: 39px;
    height: 39px;
    z-index: 100;
    top: 10px;
    left: 132px;
  }
}