:root {
  --star-size: 30px;
  --star-color: #fff;
  --star-background: #fc0;
}

.airport-rating {
  width: 300px;
  background-color: #8e8edf;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;

  & p {
    margin:0;
    padding: 5px 0;
  }

  &__stars {
    --percent: calc(var(--rating) / 5 * 100%);
    background-color: #8e8edf;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    display: inline-block;
    margin-left: 10px;
    
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
     background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__number {
    font-size: 22px;
  }

  &__name {
    color: blue;
  }
}