.airport-schedule {
  width: 303px;
  font-size: 13px;
  color: #393939;

  &__container {
    display: flex;
  }

  &__name {
    text-transform: uppercase;
    font-size: 10px;
    height: 18px;
    display: flex;
    align-items: center;
    background: #d1d0d0;
    padding-left: 10px;
    margin: 0;
    border-bottom: 2px solid #fff;
  }

  &__icon {
    width: 26px;
    background: #ddd;
    padding: 5px;
  }

  &__arrow-icon svg{
    margin-left: 5px;
    width: 12px;
    transform: rotate(-90deg);
    height: 12px;
    fill: #327db6;
  }

  .flex-wrapper {
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(239, 239, 244);
    border-left: 2px solid #fff;
  
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
  
      & div{
        display: flex;
        flex-direction: column;
        flex-basis: 49%;
      }
  
      & span {
        font-weight: 600;
      }
  
      & span:first-child {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        color: #6d6d6d;
      }
    }
  
    .row-link {
      margin-bottom: 5px;
      & a {
        width: 100%;
        text-decoration: none;
        color: #327db6;
        & span {
          display: flex;
          justify-content:center;
          align-items: center;
        }
      }
    }
  }
}

.hasTooltip {
  position: relative;
  transition: 0.6s ease-in-out 0.4s;
}

.hasTooltip::before {
  content: attr(data-tooltip-value);
  width: 250px;
  position: absolute;
  top: -50px;
  left: -30px;
  text-align: center;
  padding: 5px;
  display: none;
  color: white;
  background: #327db6;
  border-radius: 4px;
  z-index: 99;
  transition: 0.6s ease-in-out 0.4s;
  overflow-x: visible;
}

.hasTooltip:nth-child(2)::before{
  left: -150px;
}

.hasTooltip::after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #327db6 10px;
  bottom: -4px;
  content: "";
  display: none;
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: -5px;
  width: 0;
  transition: 0.6s ease-in-out 0.4s;
} 

.hasTooltip:hover {
  cursor: pointer;
}

.hasTooltip:hover::before,
.hasTooltip:hover::after {
  display: inline-block;
  transition: 0.6s ease-in-out 0.4s;
}