.flight-recent {
  width: 303px;
  box-sizing: border-box;
  color: #393939;

  & p {
    margin: 0;
  }

  &__heading {
    padding: 5px;
    position: relative;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: rgb(50, 125, 182);
    &:hover {
      cursor: pointer;
    }
  }

  & svg {
    fill: #fff;
    width: 12px;
    position: absolute;
    right: 10px;

    &:first-child {
      position: static;
      width: 23px;
      margin-left: 40px;
      margin-right: 15px;
    }
  }

  & h3 {
    margin: 0;
    background: #d1d0d0;
    line-height: 1;
    padding: 4px 7px;
    color: #393939;
    font-size: 10px;
    text-transform: uppercase;

    & span:first-child {
      display: inline-block;
      width: 56px;
    }
  }

  &__flight {
    border-bottom: 1px solid #d1d0d0;
    background: #f9f9fb;
    display: flex;
    flex-direction: row;
    font-size: 9px;
    padding: 6px 8px 5px;

    &-date {
      width: 56px;
    }

    &-number,
    &-date,
    &__more {
      font-size: 13px;
      font-weight: 600;
      line-height: 1;
    }

    &-airport {
      font-size: 10px;
      color: #6d6d6d;
      font-weight: normal;
    }
  }

  & .reverse+svg {
    transform: rotate(180deg);
  }

  & .collapse {
    display: none;
  }

  & a {
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #327db6;
    border-bottom: solid 3px rgb(50, 125, 182);
    background: #fff;
    font-size: 11.5px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 600;

    & svg {
      // margin-left: 5px;
      width: 12px !important;
      transform: rotate(-90deg);
      height: 12px;
      fill: #327db6;
    }
  }

  &__more {
    color: #327db6;
    background: #fff;
    font-size: 11.5px;
    text-align: center;
    border-bottom: solid 3px rgb(50, 125, 182);

    & svg {
      transform: rotate(-90deg);
      fill: rgb(50, 125, 182);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
